---
layout: base-layout.njk
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
  generatePageOnEmptyData: true
---

<h1> Welcome to blockops.zone</h1>
<h3>Blockops.zone project aims to promote the adoption of web3 technologies and actively participates in the creation of tools and content related to the Cardano blockchain. We are open to <a href="{{ 'contribute' | url }}">contributions</a>.</h3>
<div class="posts-list">
{% for post in posts %}
  <article>
    <div class="post-image">{% first_image post %}</div>
    <div class="post-content">
      <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
        <h2>
          <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </h2>

        {% excerpt post %}

        <a href="{{ post.url | url }}">Read more</a>
      </div>
  </article>
{% endfor %}
</div>
